rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Match any path that begins with 'img/' and make it publicly readable
    match /img/{allImages=**} {
      allow read: if true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
